. {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #323;
  opacity: 0.8;
  font-size: 100%;
}

main {
  display: block;
  padding-top: 50px;
}

header {
  position: relative;
  width: 100%;
}

header h1 {
  position: absolute;
  width: 75%;
}

header h2 {
  padding-top: 2em;
  /*position: absolute;*/
  width 75%;
}

#me {
  width: 25%;
  height: auto;
  padding-top: 2em;
}

#bento {
  height: 350px;
  width: 350px;
}

#scenic {
  padding-top: 150px;
  height: 350px;
  width: 750px;
}

#block {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a {
  text-decoration: none;
  color: #785;
}

a:hover {
  color: #444;
}
