/*TODO:
1) PERSONALIZE LAYOUT FROM THE LAB LAYOUTS TO FIT PORTFOLIO
2) UPDATE COMMENTS IF NECESSARY*/

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.heading-group-h1 {
  max-width: 80%;
}

/* Styling for layout appropriate for ipad */
@media only screen and (min-width: 640px) {
  .heading-group-h1 {
    padding: .1em .1em .1em 2em;
    float: none;
  }

  #filters select {
    width: 10em;
    margin: .5em .5em;
  }

  #filters li {
    width: 20em;
    display: inline;
  }
}
