/*TODO:
1) PERSONALIZE LAYOUT FROM THE LAB LAYOUTS TO FIT PORTFOLIO
2) UPDATE COMMENTS IF NECESSARY*/
.site-header {
  background: #grey;
}

/* Float main header to LEFT--> make room for hamburger menu. */
.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

/* Styling for the icon-menu class- hamburger menu- bigger + off to the RIGHT. */
.icon-menu {
  display: block;
  float: right;
  font-size: 3em;
}

.main-nav {
  padding: 0.2em;
}

/*  Hiding the main nav list b/c we expect UI to be a mobile device --> hence the new icon menu */
.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

#filters {
  padding: 0;
  list-style: none;
}

/*styling to fit ipad screen: 768px*/

@media only screen and (min-width: 768px) {
  .icon-menu {
    display: none;
  }
  .main-nav ul {
    display: inline;
  }
  .main-nav:hover ul {
    display: inline;
  }
  .main-nav li {
    display: inline;
    padding: 0.3em;
    float: right;
  }
}
